In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv(".\datos\datosConcatenados.csv",index_col=0)

### Initial dataset info

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 221822 entries, 0 to 15049
Data columns (total 22 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   danho         221822 non-null  int64
 1   ciclo         221822 non-null  int64
 2   Cod.Asign     221822 non-null  int64
 3   Asignatura    221822 non-null  object
 4   Cod.Car.Sec   221822 non-null  object
 5   Cod.Curso     221822 non-null  int64
 6   Convocatoria  221822 non-null  int64
 7   Anho          221822 non-null  int64
 8   Semestre      221822 non-null  int64
 9   Aprobado      221822 non-null  object
 10  Anho.Firma    221822 non-null  int64
 11  Primer.Par    221822 non-null  int64
 12  Segundo.Par   221822 non-null  int64
 13  AOT           221822 non-null  int64
 14  Primer.Rec    221822 non-null  int64
 15  Segundo.Rec   221822 non-null  int64
 16  Nota.Final    137062 non-null  object
 17  Tercer.Par    221822 non-null  float64
 18  Asis          221822 non-null  float64
 19  Cuarto.Par    28037 non-null   float64
 20  4P_60         28037 non-null   float64
 21  id_anony      221822 non-null  object
dtypes: float64(4), int64(13), object(5)
memory usage: 38.9+ MB

### Checking majors

In [4]:
df["Asignatura"] = df["Asignatura"].str.replace(' +', ' ')
df["Asignatura"] = df["Asignatura"].str.strip()
np.unique(df["Asignatura"])
df["Cod.Car.Sec"] = df["Cod.Car.Sec"].str[:3]

condition = df["Cod.Car.Sec"] != 'TIV'
df = df[condition]

C:\Users\Guana\AppData\Local\Temp\ipykernel_18628\967907405.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Asignatura"] = df["Asignatura"].str.replace(' +', ' ')

### Removing chars from Final grade. Converting to list of ints

In [5]:
df['Nota.Final'] = df['Nota.Final'].replace(regex=['1F-','2F-','3F-'],value= '')
df['Nota.Final'] = df['Nota.Final'].replace(regex=['ME-','C-','F','D-'],value= '')
df['Nota.Final'] = np.where(~(df['Nota.Final'].isnull()),df['Nota.Final'].str.split(','),df['Nota.Final'])

In [6]:
isna = df['Nota.Final'].isna()
df.loc[isna,'Nota.Final'] = pd.Series([[0]] * isna.sum()).values

In [7]:
df['Nota.Final'] = [[int(i) for i in x] for x in df['Nota.Final']]

In [8]:
for item in (df['Nota.Final'][1]):
    print(type(item))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

## Getting an average of the student's grades in the course

In [9]:
grades = df['Nota.Final'].to_list()
grades = [np.mean(x) for x in grades]
df['Nota.Prom'] = grades

## Removing pandemic semester

In [10]:
condition = df['Cuarto.Par'].isnull()
df = df[condition]
condition = df['Tercer.Par'] == 0
df = df[condition]

In [11]:
df.drop(['Tercer.Par','Cuarto.Par'],axis=1, inplace = True)

In [12]:
df = df.drop(['danho'],axis=1) #borro porque es lo mismo que anho

# Changing approved to categorical and making a 'Firma' bool column

In [13]:
#print(df["Aprobado"].head())
df.Aprobado = pd.Categorical(df.Aprobado)
df.Aprobado = df.Aprobado.cat.codes
#df["Aprobado"].head()

In [14]:
df['Firma'] = df['Anho.Firma'] > 0

In [15]:
df["Cod.Car.Sec"] = pd.Categorical(df["Cod.Car.Sec"])
df["Cod.Car.Sec"] = df["Cod.Car.Sec"].cat.codes
df["Cod.Car.Sec"]

0        5
1        7
2        5
3        7
4        7
        ..
15045    6
15046    6
15047    6
15048    6
15049    6
Name: Cod.Car.Sec, Length: 191299, dtype: int8

## Dictionary of majors

In [16]:
majors = ['CGF','CIV','ECA','ELE','IND','INT','MCT','MEC']
majors_dict = {}
for major in majors:
    condition = df["Cod.Car.Sec"] == major
    majors_dict[major] = df[condition]

In [17]:
for major in majors:
    condition = majors_dict[major]['Cod.Curso'] > 4 ## if the course is from 4th semester or below is considered part of common courses
    majors_dict[major] = majors_dict[major][condition]

In [18]:
%%capture
for major in majors:
    print(majors_dict[major].head())

In [19]:
%%capture
for major in majors:
    print(np.unique(majors_dict[major]["Cod.Curso"]))

In [20]:
print("Number of students in specific courses ")
for major in majors:
    print(major,len(np.unique(majors_dict[major].id_anony.values)))

Number of students in specific courses
CGF 0
CIV 0
ECA 0
ELE 0
IND 0
INT 0
MCT 0
MEC 0

### Common courses in the dict

In [21]:
%%capture
if "CB" not in majors:
    majors.append("CB")
print(majors)

In [22]:
condition = df['Cod.Curso'] <= 4
majors_dict["CB"] = df[condition]
majors_dict["CB"]

,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,Aprobado,Anho.Firma,...,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Asis,4P_60,id_anony,Nota.Prom,Firma
401,1,5012,CALCULO 3,0,3,1,2012,1,0,0,...,0,0,0,0,[0],0.0,NaN,es_253,0.0,False
402,1,5015,FISICA 4,1,4,1,2012,1,0,2012,...,13,9,0,0,[0],1.0,NaN,es_254,0.0,True
403,1,5015,FISICA 4,0,4,1,2012,1,1,2012,...,24,10,0,0,[3],1.0,NaN,es_255,3.0,True
404,1,5015,FISICA 4,1,4,1,2012,1,0,0,...,0,0,0,0,[0],0.0,NaN,es_256,0.0,False
405,1,5015,FISICA 4,1,4,1,2012,1,0,0,...,12,8,0,0,[0],0.0,NaN,es_257,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12384,1,13705,PROGRAMACION ORIENTADA A OBJETOS,6,4,1,2021,1,0,0,...,0,5,0,0,[0],1.0,NaN,es_4312,0.0,False
12385,1,13705,PROGRAMACION ORIENTADA A OBJETOS,6,4,1,2021,1,0,2021,...,31,10,0,0,[0],1.0,NaN,es_4108,0.0,True
12386,1,13705,PROGRAMACION ORIENTADA A OBJETOS,6,4,1,2021,1,0,2021,...,36,8,0,0,[0],1.0,NaN,es_4502,0.0,True
12387,1,13705,PROGRAMACION ORIENTADA A OBJETOS,6,4,1,2021,1,0,0,...,0,0,0,0,[0],1.0,NaN,es_4167,0.0,False
12388,1,13705,PROGRAMACION ORIENTADA A OBJETOS,6,4,1,2021,1,0,2021,...,35,9,0,0,[0],1.0,NaN,es_4519,0.0,True

In [23]:
columns = ["Cod.Asign", 'Asis', '4P_60',"Cod.Curso", "Semestre", 'Primer.Rec','Segundo.Rec'] #id_anony could be usefull
for major in majors:
    if columns[0] in majors_dict[major]:
        majors_dict[major].drop(columns,axis=1, inplace= True)
    #majors_dict[major].head()

C:\Users\Guana\AppData\Local\Temp\ipykernel_18628\1769014245.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  majors_dict[major].drop(columns,axis=1, inplace= True)

In [24]:
majors_dict["CB"].head()

,ciclo,Asignatura,Convocatoria,Anho,Aprobado,Anho.Firma,Primer.Par,Segundo.Par,AOT,Nota.Final,id_anony,Nota.Prom,Firma
401,1,CALCULO 3,1,2012,0,0,0,0,0,[0],es_253,0.0,False
402,1,FISICA 4,1,2012,0,2012,19,13,9,[0],es_254,0.0,True
403,1,FISICA 4,1,2012,1,2012,17,24,10,[3],es_255,3.0,True
404,1,FISICA 4,1,2012,0,0,0,0,0,[0],es_256,0.0,False
405,1,FISICA 4,1,2012,0,0,16,12,8,[0],es_257,0.0,False

## Write to a csv

In [25]:
for major in majors:
    name = ".\datasets\datos"+"_"+str(major)+".csv"
    majors_dict[major].to_csv(name)

In [26]:
%%capture
for major in majors:
    columns = ["Aprobado","Primer.Par","Segundo.Par","AOT","Nota.Final","id_anony"]
    print(majors_dict[major][columns].describe())
    print("#############################################################")